@page "/"

<h1>Sample PWA App</h1>

This sample app demonstrates PWA capabilities:

<ul>
    <li>Open App in browser, do you see install icon? <img src="https://www.simicart.com/blog/wp-content/uploads/install-button-4.png" alt="install icon" srcset=""> </li>
    <li>Can you add the app to taskbar? Do you see the app in start menu?</li>
    <li>Navigate to the address on you mobile device. Can you add app to your home screen?</li>
</ul>