@page "/"

<h1>Sample PWA App</h1>

<h2>This sample app demonstrates PWA capabilities</h2>

<ul>
    <li>Open App in browser, do you see install icon? <img
        src="install-button.png" alt="install icon" srcset="">
    </li>
    <li>Can you add the app to taskbar? Do you see the app in start menu?</li>
    <li>Navigate to the address on you mobile device and follow those steps to add app to homescreen</li>

    <ol class="list-group">
        <li class="list-group-item">Open up Safari and load a web site.</li>
        <li class="list-group-item">At the bottom of the screen is the share icon <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Ei-share-apple.svg/768px-Ei-share-apple.svg.png"
            alt="apple share icon" srcset="" height="20" width="20">. </li>
        <li class="list-group-item">You will need to slide the icons to reveal the 'Add to Homescreen' button.</li>
    </ol>

    <li>Wait for the app update, click Ctrl + F5 in browser to refresh content and slide down on mobile device</li>
</ul>
